// define 2-column css grid layout

div.grid {
  &.grid-cols-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  &.grid-cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .h-screen {
    height: 50vh;
  }
  .overflow-y-scroll {
    overflow-y: scroll;
  }
}