.construct {
  border-radius: 1rem;
  cursor: pointer;
  overflow-x: hidden;
  padding: 1rem;
  margin-right: 1rem;
  h2 {
    margin: 0;
  }
  small.id {
    font-size: 8px;
  }
  &.selected {
    background-color: #391557;
  }
}